{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-publishflow/catalogfactory

    Block template for combined catalog/factory

    The purpose of this template is to render the block interface for a "course catalog/course factory" shaped moodle.

}}
<!-- catalogfactory -->

{{^backup}}
{{{unavailablenotif}}}
<center>
<form name="makebackup" action="{{{formurl}}}" method="GET">
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="submit" name="go_btn" value="{{dobackupstr}}" />
</form>
</center>
{{/backup}}

{{#backup}}
{{#hastargets}}
{{> block_publishflow/deployform}}
{{/hastargets}}
{{^hastargets}}
    {{{nodeploytargetsnotif}}}
{{/hastargets}}
{{/backup}}

<!-- /catalogfactory -->