


<!-- deployform -->
<form name="deployform" method="post" action="{{{formurl}}}">
<div class="publishflow-selector" align="center">
    <input type="hidden" name="id" value="{{blockid}}" />
    <input type="hidden" name="fromcourse" value="{{courseid}}" />
    <input type="hidden" name="what" value="deploy" />

    <div class="block-form-item">
        <div class="block-form-label">
        {{{choosetargetstr}}}
        </div>

        <div class="block-form-input">
        {{{targetselect}}}
        </div>
    </div>

    {{#allowfreecat}}
    <div class="block-block-form-item">
        <div class="block-block-form-label">
        {{choosecatstr}}
        </div>
        <div class="selector block-form-input" id="category-div" align="center"></div>
    </div>
    {{/allowfreecat}}

    {{#needkey}}
    <div class="block-form-item">
        <div class="block-form-label">
            {{{enterkeystr}}}
        </div>
        <div class="block-form-input">
            <input type="password" name="deploykey" value="" size="8" maxlength="30" />
        </div>
    </div>
    {{/needkey}}
</div>

<div class="block-form-singleline centered">
    <input type="submit" name="deploy" value="{{deploystr}}" />
</div>
</form>
<!-- /deployform -->