{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-publishflow/factory

    Block template for factory

    The purpose of this template is to render the block interface for a "course factory" shaped moodle.

}}
<!-- factory -->

{{^catalog}}
{{{nocatalognotif}}}
{{/catalog}}

{{#catalog}}

{{^backup}}
{{{unavailablenotif}}}
<center>
<form name="makebackup" action="{{{formurl}}}" method="GET">
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="submit" name="go_btn" value="{{dobackupstr}}" />
</form>
</center>
{{/backup}}

{{#canpublish}}
<center>

    {{#sessionpublic}}

    <div class="publishflow-title">
    {{{alreadypublishedstr}}}
    </div>

    <div class="publishflow-sessions">
    {{#sessions}}
        <li><a href="{{{sessionurl}}}">{{sessioname}}</a></li>
    {{/sessions}}
    </div>

    <div class="publishflow-control">
        {{{unpublishbutton}}}
    </div>
    {{/sessionpublic}}

    {{#sessionhidden}}

    <div class="publishflow-title">
    {{{publishedhiddenstr}}}
    </div>
    {{/sessionhidden}}

    {{^sessionpublic}}
    {{^sessionhidden}}
    <div class="publishflow-title">
    {{{notpublishedyetstr}}}
    </div>
    {{/sessionhidden}}
    {{/sessionpublic}}

    <div id="publishflow-publish">
        {{{publishbutton}}}
    </div>
{{/canpublish}}

{{#candeployfortest}}

    <div class="publishflow-title">
        {{deployfortest}} {{{deployfortesthelpicon}}}
    </div>

    {{> block_publishflow/deployform}}

{{/candeployfortest}}

{{/catalog}}

<!-- /factory -->