


<!-- factory -->

{{^catalog}}
{{{nocatalognotif}}}
{{/catalog}}

{{#catalog}}

{{^backup}}
{{{unavailablenotif}}}
<center>
<form name="makebackup" action="{{{formurl}}}" method="GET">
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="submit" name="go_btn" value="{{dobackupstr}}" />
</form>
</center>
{{/backup}}

{{#canpublish}}
<center>

    {{#sessionpublic}}

    <div class="publishflow-title">
    {{{alreadypublishedstr}}}
    </div>

    <div class="publishflow-sessions">
    {{#sessions}}
        <li><a href="{{{sessionurl}}}">{{sessioname}}</a></li>
    {{/sessions}}
    </div>

    <div class="publishflow-control">
        {{{unpublishbutton}}}
    </div>
    {{/sessionpublic}}

    {{#sessionhidden}}

    <div class="publishflow-title">
    {{{publishedhiddenstr}}}
    </div>
    {{/sessionhidden}}

    {{^sessionpublic}}
    {{^sessionhidden}}
    <div class="publishflow-title">
    {{{notpublishedyetstr}}}
    </div>
    {{/sessionhidden}}
    {{/sessionpublic}}

    <div id="publishflow-publish">
        {{{publishbutton}}}
    </div>
{{/canpublish}}

{{#candeployfortest}}

    <div class="publishflow-title">
        {{deployfortest}} {{{deployfortesthelpicon}}}
    </div>

    {{> block_publishflow/deployform}}

{{/candeployfortest}}

{{/catalog}}

<!-- /factory -->