


<!-- publishresponse -->

<center>
<div class="publishflow-result">
    <div class="publishflow-result">
        {{{publishsuccessnotif}}}
        {{{publisherrornotif}}}
    </div>

    <div class="publishflow-controls-buttons">
        {{{remotecoursebutton}}} {{{localcoursebutton}}}
    </div>
</div>
</center>

<!-- /publishresponse -->