{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-publishflow/trainingcenter

    Block template for trainingcenter

    The purpose of this template is to render the block interface for a "training center" moodle.

}}
<!-- trainingcenter -->

{{#enableretrofit}}

{{^factory}}
    {{{nofactorynotif}}}
{{/factory}}

{{#factory}}

{{^backup}}
{{{unavailablenotif}}}
{{/backup}}
<center>
<form name="makebackup" action="{{{formurl}}}" method="GET">
    <input type="hidden" name="id" value="{{courseid}}" />
    <input type="submit" name="go_btn" value="{{dobackupstr}}" />
</form>
</center>

{{#canretrofit}}
<div class="publishflow-service">
    <b>{{{retrofittitlestr}}}</b> {{{retrofithelpicon}}}
</div>
<div class="publishflow-control block-form-singleline centered">
    <a href="{{{retrofiturl}}}" class="btn btn-submit">{{retrofitstr}}</a>
</div>
{{/canretrofit}}

{{/factory}}

{{/enableretrofit}}

{{#canmanagesessions}}
<div class="publishflow-service">
    <b>{{{coursecontrolstr}}}</b>
</div>
<div class="publishflow-control block-form-singleline centered">
    <a href="{{{controlurl}}}" class="btn btn-submit">{{controlstr}}</a>
</div>
{{/canmanagesessions}}

</center>

<!-- /trainingcenter -->
